.mat-card {
  max-width: 650px;
  margin: auto;

  .spacer {
    flex: 1;
  }
}

.mat-selection-list {
  .mat-list-option {
    &:last-of-type {
      .mat-list-item-content {
        margin-bottom: 16px;
      }
    }
  }
}
